<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="04bb86ef-5486-4cd5-a3eb-c767137972c6" name="tt" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification">
  <con:settings id="8625c559-90e6-42fd-b947-77817d4fc9d5">
    <con:setting id="04bb86ef-5486-4cd5-a3eb-c767137972c6fileName">tt</con:setting>
  </con:settings>
  <con:definitionCache rootPart="tt.json" type="TEXT">
    <con:part>
      <con:url>tt.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"tt","description":"","version":"1.0.0"},"servers":[],"paths":{}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="5d54c941-94c0-49a1-b3cd-a676d355009d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
